@import url('https://fonts.googleapis.com/css?family=Khula:300,400');
$hp: #d33668;
$bg: #1d1318;
$mint: #8acea5;

* {
  box-sizing: border-box;
}

body {
  background-color: #0b0d0c;
  color: $hp;
  font-family: 'Khula', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
}

ul {
  color: $mint;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 0 -3.2em;
  padding: 0;
}

li span {
  margin-left: .5em;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.game-container, .clock-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.dashboard {
  align-items: center;
  background-color: #070505;
  background-color: #281a22;
  box-shadow: inset 0 0 0em .3em $bg;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-around;
  overflow: hidden;
  padding: 1em;
  width: 15em;
}

.puzzle-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.puzzle-container.flash {
  animation: flash .5s linear 13;
}

.game-container > div {
  margin-bottom: 1em;
}

.dashboard > span:first-child {
  font-size: 1.3em;
  text-align: center;
}

.clock-container:before {
  content: '';
  height: 0;
  position: relative;
  width: 15em;
}

.clock {
  align-items: baseline;
  align-self: center;
  display: flex;
  flex-shrink: 0;
  font-size: 2em;
  justify-content: center;
  width: 868px;
}

.clock .fa-snowflake-o {
  color: #460e1e;
  margin: 0 .3em;
}

.level-settings {
  display: flex;
  height: 8em;
  transition: transform 1s;
  width: 100%;
  & input {
    height: 11em;
    transform: rotate(90deg);
    width: 11em;
  }
  margin-bottom: 2em;
}

.level-settings.transLeft {
  transform: translateX(-20em);
}

.level-settings.transLeft ~ .dash {
  transform: translateY(-10em);
  transition: transform .5s;
    &:nth-child(3) {
      transition-delay: .2s;
    }
    &:nth-child(4) {
      transition-delay: .3s;
    }
    &:nth-child(5) {
      transition-delay: .4s;
    }
}

.start, .reset {
  cursor: pointer;
}

.start:hover, .reset:hover {
  color: $mint;
}

.start:active, .reset:active {
  transform: scale(.95);
}

.dash {
  background-color: $bg;
  border: .3em solid $hp;
  border-radius: 50%;
  display: flex;
  align-items: center;
  height: 5em;
  justify-content: center;
  transition: transform .5s;
  width: 5em;
  &:nth-child(3) {
    transition-delay: .3s;
  }
  &:nth-child(4) {
    transition-delay: .2s;
  }
  &:nth-child(5) {
    transition-delay: .1s;
  }
}

button.dash {
  color: $hp;
  display: initial;
  font-size: 1em;
}

button.dash[disabled] {
  color: gray;
  cursor: default;
  border-color: gray;
  opacity: .2;
}

.hints-left {
  margin-right: .3em;
}

.hide-bg {
  display: none;
}

.seal, .solved {
  opacity: .5;
}

.invisible {
  opacity: 0;
}

.tray {
  bottom: -6em;
  height: 5em;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.tray img {
  position: absolute;
}

.honeycomb {
  height: 579px;
  position: absolute;
  top: 0;
  width: 868px;
}

.hc-col {
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 5em;
  &-1 {
    left: 2.55em;
  }
  &-2 {
    left: 7.8em;
  }
  &-3 {
    left: 13.1em;
  }
  &-4 {
    left: 18.3em;
  }
  &-5 {
    left: 23.55em;
  }
  &-6 {
    left: 28.8em;
  }
  &-7 {
    left: 34.1em;
  }
  &-8 {
    left: 39.35em;
  }
  &-9 {
    left: 44.6em;
  }
}

.hc-cell {
  position: absolute;
  width: 110px;
  height: 95px;
}

.hc-col:nth-child(odd) .hc-cell {
  // background-color: rgba(0,0,255,.5);
  &-1 {
    top: 2.9em;
  }

  &-2 {
    top: 8.95em;
  }

  &-3 {
    top: 15em;
  }

  &-4 {
    top: 21em;
  }

  &-5 {
    top: 27.1em;
  }
}

.hc-col:nth-child(even) .hc-cell {
  // background-color: rgba(0,255,0,.5);
  &-1 {
    top: 5.9em;
  }

  &-2 {
    top: 12em;
  }

  &-3 {
    top: 18em;
  }

  &-4 {
    top: 24em;
  }
}


img[src*=piece].celebrating {
  backface-visibility: visible;
  animation: celebrate 1s 2;
}

img[alt="mariostar"] {
  opacity: .1;
}
