@import url("https://fonts.googleapis.com/css?family=Khula:300,400");
* {
  box-sizing: border-box; }

body {
  background-color: #0b0d0c;
  color: #d33668;
  font-family: 'Khula', sans-serif; }

ul {
  color: #8acea5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 0 -3.2em;
  padding: 0; }

li span {
  margin-left: .5em; }

ul.disabled {
  color: gray; }

.main-container {
  display: flex;
  flex-direction: column; }

.game-container, .clock-container {
  display: flex;
  justify-content: center; }

.dashboard {
  align-items: center;
  background-color: #070505;
  background-color: #281a22;
  box-shadow: inset 0 0 0em 0.3em #1d1318;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-around;
  padding: 1em;
  width: 15em; }

.puzzle-container {
  display: flex;
  flex-direction: column;
  position: relative; }

.puzzle-container.flash {
  animation: flash .3s linear infinite; }

.game-container > div {
  margin-bottom: 1em; }

.dashboard > span:first-child {
  font-size: 1.3em;
  text-align: center; }

.clock-container:before {
  content: '';
  height: 0;
  position: relative;
  width: 15em; }

.clock {
  align-items: baseline;
  align-self: center;
  display: flex;
  flex-shrink: 0;
  font-size: 2em;
  justify-content: center;
  width: 868px; }

.clock .fa-snowflake-o {
  color: #460e1e;
  margin: 0 .3em; }

.level-settings {
  display: flex;
  height: 8em;
  width: 100%;
  margin-bottom: 2em; }
  .level-settings input {
    height: 11em;
    transform: rotate(90deg);
    width: 11em; }

.start, .stop {
  cursor: pointer;
  transition: transform .2s; }

.start:hover, .stop:hover {
  color: #8acea5; }

.start:active, .stop:active {
  transform: scale(0.95); }

.dash {
  background-color: #1d1318;
  border: 0.3em solid #d33668;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  width: 5em; }

.hints-left {
  margin-right: .3em; }

.hide-bg {
  display: none; }

.hassel {
  opacity: .5; }

.tray {
  align-self: flex-end;
  height: 5em;
  margin-top: 5em;
  position: absolute;
  width: 100%; }

.tray > img {
  position: absolute; }

.honeycomb {
  height: 579px;
  position: absolute;
  width: 868px; }

.hc-col {
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 5em; }
  .hc-col-1 {
    left: 2.55em; }
  .hc-col-2 {
    left: 7.9em; }
  .hc-col-3 {
    left: 13.1em; }
  .hc-col-4 {
    left: 18.4em; }
  .hc-col-5 {
    left: 23.55em; }
  .hc-col-6 {
    left: 28.8em; }
  .hc-col-7 {
    left: 34.1em; }
  .hc-col-8 {
    left: 39.3em; }
  .hc-col-9 {
    left: 44.6em; }

.hc-cell {
  position: absolute;
  width: 110px;
  height: 95px; }

.hc-col:nth-child(odd) .hc-cell {
  background-color: rgba(0, 0, 255, 0.5); }
  .hc-col:nth-child(odd) .hc-cell-1 {
    top: 2.9em; }
  .hc-col:nth-child(odd) .hc-cell-2 {
    top: 8.95em; }
  .hc-col:nth-child(odd) .hc-cell-3 {
    top: 15em; }
  .hc-col:nth-child(odd) .hc-cell-4 {
    top: 21em; }
  .hc-col:nth-child(odd) .hc-cell-5 {
    top: 27.1em; }

.hc-col:nth-child(even) .hc-cell {
  background-color: rgba(0, 255, 0, 0.5); }
  .hc-col:nth-child(even) .hc-cell-1 {
    top: 5.9em; }
  .hc-col:nth-child(even) .hc-cell-2 {
    top: 12em; }
  .hc-col:nth-child(even) .hc-cell-3 {
    top: 18em; }
  .hc-col:nth-child(even) .hc-cell-4 {
    top: 24em; }

@keyframes flash {
  0% {
    background-color: #ffeb3b; }
  25% {
    background-color: #e91e63; }
  50% {
    background-color: #9c27b0; }
  100% {
    background-color: #009688; } }
@keyframes celebrate {
  0% {
    transform: rotate3d(1, 2, 1, 0); }
  100% {
    transform: rotate3d(1, 2, 1, 360deg); } }

/*# sourceMappingURL=main.css.map */
